$color-primary: #635996;
$color-secondary-light: #8fd1e8;
$color-secondary: #3ba5d1;

$color-action: #635996;
$color-link: #635996;
$color-link--lighter: #7e75ae;
$color-neutral: #aaa;
$color-neutral--lightest: #fff;
$color-neutral--lighter: #ccc;
$color-neutral--darker: #999;
$color-neutral--darkest: #333;
$color-focus: #3ba5d1;