.footer {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $color-primary;
  padding: 20px;
  display: flex;

  p {
    flex-grow: 1;
    color: white;
    margin: 0;
    a {
      color: white;
    }
  }

  &__language-select {
    float: right;
  }
}