.header {
  position: relative;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 4em;
  padding: 0.6em 2% 0.6em 2%;
  border-bottom: 8px solid $color-primary;
  transition-duration: 0.3s;
  transition-property: all;

  @media only screen and (min-width: 712px) {
    padding: 0.6em 110px 0.6em 2%;
  }

  &.is-sticky {
    position: fixed;
    background-color: white;
    height: 70px;
    width: 100%;
    z-index: 100;
    border-width: 2px;
    top:0;

    .logo {
      position: absolute;
      visibility: hidden;

      @media only screen and (min-width: 712px) {
        height: 11.9mm;
        position: relative;
        visibility: visible;
      }
    }
  }

  &__logo {
  }

  &__navigation {
    flex-grow: 1;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0;

      @media only screen and (min-width: 712px) {
        justify-content: flex-end;
      }

      li {
        margin: 0;
        list-style-type: none;

        &:not(last-child) {
          margin-right: 20px;
        }
        
        a {
          display: inline-block;
          background-color: $color-primary;
          padding: 10px 20px;
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}
