.language-select {
  list-style: none;
  padding-left: 0;

  &__item {
    display:inline-block;
    background-color: $color-secondary;

    &:not(:last-child) {
      margin-right: 10px;
    }

    &--current {
      font-weight: bold;
    }
  }
}
