.logo {
  background: {
    image: url('/assets/svg/logo.svg');
    repeat: no-repeat;
    size: contain;
  }
  display: block;
  font-size: 1.6rem;
  height: 3.75em; // 60px
  text-indent: -999em;
  width: 14em; // 224px
}
