*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  font-family: "Open Sans", Helvetica, "Helvetica Neue", Arial, sans-serif; }

button {
  background: blue;
  border: 0;
  border-radius: 0.125em;
  color: white;
  font-size: 1.6rem;
  padding: 0.75em 1.5625em; }

fieldset {
  border: 0.1em solid gray;
  border-radius: 0.2em;
  margin: 0;
  padding: 0.5em 0.9em 1.1em; }

form {
  margin-bottom: 1.2em; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin: 0 auto; }

h1 {
  font-size: 2.4rem;
  margin-bottom: 0.5em; }

h2 {
  font-size: 2rem;
  margin-bottom: 0.3em; }

h3 {
  font-size: 1.6rem;
  margin-bottom: 0.75em; }

html {
  font-size: 62.5%;
  line-height: 1.5; }

input[type="email"] {
  border: 0.0625em solid gray;
  border-radius: 0.125em;
  font-size: 1.6rem;
  margin-bottom: 0.75em;
  padding: 0.3125em 0.5625em;
  width: 100%; }
  input[type="email"]:focus {
    border-color: blue;
    outline: 0; }

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.375em; }

legend {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 0.625em; }

li {
  font-size: 1.6rem; }

p {
  font-size: 1.6rem;
  margin: 0 0 1.5em; }

textarea {
  border: 0.0625em solid gray;
  border-radius: 0.125em;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.75em;
  padding: 0.3125em 0.5625em;
  width: 100%; }
  textarea:focus {
    border-color: blue;
    outline: 0; }

ul {
  margin: 0 0 1.2em; }

.alert {
  background: lightgray;
  border: 0.0625em solid gray;
  border-radius: 0.125em;
  margin-bottom: 0.375em;
  padding: 0.6875em 0.875em; }

.header {
  display: flex;
  margin-bottom: 1.2em;
  padding: 0.6em 2%; }
  .header__navigation {
    flex-grow: 1; }

.language-select {
  list-style: none;
  padding-left: 0; }
  .language-select__language {
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 1.5em 1.5em;
    display: inline-block;
    font-size: 1.6rem;
    padding-left: 1.8125em; }
    .language-select__language--de {
      background-image: url("/assets/svg/flag--germany.svg"); }
    .language-select__language--en {
      background-image: url("/assets/svg/flag--england.svg"); }

.logo {
  background-image: url("/assets/svg/logo.svg");
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
  font-size: 1.6rem;
  height: 3.75em;
  text-indent: -999em;
  width: 14em; }

.main {
  margin: 0 auto;
  width: 96%; }
  @media (min-width: 360px) {
    .main {
      width: 92%; } }
  @media (min-width: 480px) {
    .main {
      width: 88%; } }
  @media (min-width: 720px) {
    .main {
      width: 84%; } }
  @media (min-width: 1080px) {
    .main {
      width: 80%; } }
  @media (min-width: 1680px) {
    .main {
      width: 76%; } }
