*, *::after, *::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

a {
  color: #635996; }
  a:focus {
    background-color: #7e75ae;
    color: #fff;
    outline: 0; }

body {
  background: #fff;
  color: #333;
  font-family: Raleway, Helvetica, "Helvetica Neue", Arial, sans-serif;
  height: 100%; }

button {
  background: #635996;
  border: 0;
  border-radius: 0.125em;
  color: #333;
  font-size: 1.6rem;
  padding: 0.75em 1.5625em; }

fieldset {
  border: 0.1em solid #999;
  border-radius: 0.2em;
  margin: 0;
  padding: 0.5em 0.9em 1.1em; }

form {
  margin-bottom: 1.2em; }

img {
  max-width: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #3d375d;
  font-family: Raleway, Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-weight: 400;
  margin: 0 auto; }

h1 {
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 2rem; }

h2 {
  font-size: 2.4rem;
  line-height: 3rem;
  margin-bottom: 1.7rem; }

h3 {
  line-height: 2.5rem;
  font-size: 2rem;
  margin-bottom: 1.5rem; }

html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.5; }

input[type="email"] {
  border: 0.0625em solid #aaa;
  border-radius: 0.125em;
  font-size: 1.6rem;
  margin-bottom: 0.75em;
  padding: 0.3125em 0.5625em;
  width: 100%; }
  input[type="email"]:focus {
    border-color: #3ba5d1;
    outline: 0; }

label {
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.375em; }

legend {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 0 0.625em; }

li {
  font-size: 1.6rem;
  margin-bottom: 0.375em; }
  li:last-of-type {
    margin-bottom: 0; }

p {
  font-size: 1.6rem;
  margin: 0 0 3rem; }

textarea {
  border: 0.0625em solid #aaa;
  border-radius: 0.125em;
  display: block;
  font-size: 1.6rem;
  margin-bottom: 0.75em;
  padding: 0.3125em 0.5625em;
  width: 100%; }
  textarea:focus {
    border-color: #3ba5d1;
    outline: 0; }

ul {
  margin: 0 0 1.2em; }

.alert {
  background: lightgray;
  border: 0.0625em solid gray;
  border-radius: 0.125em;
  margin-bottom: 0.375em;
  padding: 0.6875em 0.875em; }

.contact-form__submit {
  color: #fff;
  background-color: #635996; }

.header {
  position: relative;
  margin-bottom: 4em;
  border-bottom: 8px solid #635996; }
  .header.is-sticky {
    position: fixed;
    background-color: #fff;
    height: 70px;
    width: 100%;
    z-index: 100;
    border-width: 2px;
    top: 0; }
    .header.is-sticky .logo {
      position: absolute;
      visibility: hidden;
      margin: 0; }
      @media only screen and (min-width: 720px) {
        .header.is-sticky .logo {
          height: 4.5rem;
          width: 15rem;
          margin-top: 0.5rem;
          position: relative;
          visibility: visible; } }
  .header__logo {
    width: 100%; }
    @media only screen and (min-width: 720px) {
      .header__logo {
        width: auto; } }
  .header__container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 0 auto;
    width: 96%; }
    @media (min-width: 360px) {
      .header__container {
        width: 92%; } }
    @media (min-width: 480px) {
      .header__container {
        width: 88%; } }
    @media (min-width: 720px) {
      .header__container {
        width: 80%; } }
    @media (min-width: 1080px) {
      .header__container {
        width: 70%; } }
    @media (min-width: 1680px) {
      .header__container {
        width: 60%; } }
  .header__navigation {
    flex-grow: 1; }
    .header__navigation__links {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1rem 0;
      padding: 0; }
      @media only screen and (min-width: 720px) {
        .header__navigation__links {
          justify-content: flex-end;
          margin: 0; } }
    .header__navigation__link {
      margin: 0;
      list-style-type: none; }
      .header__navigation__link:not(:last-child) {
        margin-right: 2rem; }
      .header__navigation__link a {
        display: inline-block;
        background-color: #635996;
        padding: 1rem 2rem;
        color: #fff;
        text-decoration: underline; }

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #635996;
  padding: 2rem;
  display: flex;
  justify-content: space-between; }
  .footer p {
    flex-grow: 1;
    color: #fff;
    margin: 0; }
    .footer p a {
      color: #fff; }

.language {
  display: inline-block;
  font-size: 1.6rem;
  padding: 0.2em 0.4em 0.2em 1.6em;
  text-decoration: none;
  width: 100%;
  height: 100%;
  color: #fff;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 1.625em 1em; }
  .language--de {
    background-image: url("/assets/svg/flag--germany.svg"); }
  .language--en {
    background-image: url("/assets/svg/flag--england.svg"); }

.language-select {
  list-style: none;
  padding-left: 0; }
  .language-select__item {
    display: inline-block;
    background-color: #3ba5d1; }
    .language-select__item:not(:last-child) {
      margin-right: 10px; }
    .language-select__item--current {
      font-weight: bold; }

.logo {
  display: block;
  font-size: 1.6rem;
  width: 100%;
  margin: 2rem 0;
  padding: 0 20%; }
  @media only screen and (min-width: 720px) {
    .logo {
      width: 288px;
      margin: 3.8rem 0;
      padding: 0; } }

.main {
  padding-bottom: 10rem;
  margin: 0 auto;
  width: 96%; }
  @media (min-width: 360px) {
    .main {
      width: 92%; } }
  @media (min-width: 480px) {
    .main {
      width: 88%; } }
  @media (min-width: 720px) {
    .main {
      width: 80%; } }
  @media (min-width: 1080px) {
    .main {
      width: 70%; } }
  @media (min-width: 1680px) {
    .main {
      width: 60%; } }

.wrapper {
  position: relative;
  min-height: 100%; }

.references {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }
  .references__reference {
    width: 200px;
    height: 200px;
    border: 5px solid #7e75ae;
    padding: 1rem;
    margin: 2rem;
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center; }
  .references__image {
    display: block; }
